:root{
    --main-text-color: #202020;
    --main-color: #7404f3;
    --second-color:#e033d2;
    --third-color:#f58888;
    --background-color:#ffffff; 
    --border-color:#d1cece;
    --shadow-color:#999999;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 3%;
    width: 38%;
    height: 100%;
    border: 1px var(--border-color) solid;
    /* border: 1px var(--main-color) solid; */
    border-radius:5px;
    overflow: hidden; 
    margin: 5% auto;
    box-shadow: 5px 5px 4.2px var(--shadow-color);

}
.users-pro{
    width: 100%;
}
.title{
    font-size: 24px;
    text-align: center;
    color:var(--main-text-color);
}
 input{
    border: 1px var(--background-color) solid;
    color: var(--main-text-color);
}
textarea:focus, input:focus{
    outline: none;
}

legend{
    color: var(--main-color);
}

.uname fieldset{
    width: 80%;
    border: 2px var(--border-color) solid;
    border-radius: 5px;
    margin: 2% auto;

    
}
.pword fieldset{
    width: 80%;
    border: 2px var(--border-color) solid;
    border-radius: 5px;
    margin: 2% auto;  
    
}
 .uname fieldset:hover, .uname fieldset:focus, .pword fieldset:hover, .pword fieldset:focus {
    border: 2px var(--main-color) solid;
}
.uname-text{
    font-size: 12px; 
}


.next a{
    text-decoration: none;
    margin: 2% auto;
    width: 85%;
    padding: 15px 0px;
    display: block;
    text-align: center;
    color: var(--background-color);
    border-radius: 5px;
    font-weight: bold;
    background-image: linear-gradient(-45deg, var(--main-color), var(--second-color)); 
}
.next a:hover,.next a:focus{
    background-image: linear-gradient(-45deg, var(--second-color), var(--third-color)); 
}
.signup a{
    text-decoration: none;
    width: 85%;
    margin: 2% auto;
    padding: 15px 0px;
    display: block;
    text-align: center;
    color: var(--main-color);
    border-radius: 5px;
    border: var(--border-color) 1px solid;
} 
.signup a:hover,.signup a:focus{
    background-image: linear-gradient(-45deg,var(--second-color), var(--third-color)); 
    color:var(--background-color);
}
